html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-color: black;
  width: 100%;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
}

/*header logo section*/
.logo-box {
  display: flex;
  align-items: center;
  padding: 0.66rem 0.5rem;
}

.logo-box img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logo-box span {
  color: white;
  font-size: 1rem;
}

/*cover banner section*/
.cover-banner {
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

/*products bar*/
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.75rem 0;
}

.mobile-nav-container {
  display: none;
}

/*products and business info*/
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 4px solid black;
}

.product img {
  margin: 2rem auto;
  height: 9rem;
}

#glasses img {
  width: 11rem;
  height: auto;
  margin: 4rem auto;
}
.product span {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

.biz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info span {
  background-color: black;
  color: white;
  max-width: 100%;
  text-align: left;
  padding: 1rem 0rem 1rem 2rem;
}

/*footer section*/
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  text-align: left;
  height: 5rem;
}
/*why can't the footer text align left?*/

/*media query for tablet*/
@media only screen and (max-width: 1024px) {

  nav ul {
    display: none;
  }

  .mobile-nav-container {
    display: block;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  #glasses {
    display: none;
  }

}

/*media query for mobile*/
@media only screen and (max-width: 470px) {
  .cover-banner {
    height: 15rem;
  }

  .text-box {
    max-width: 470px;
    padding: 1rem 2rem;
    top: 10rem;
    /*why the text-box can't fit inside? i.e. same width as the cover-banner?*/
  }

  h3 {
    font-size: 0.77rem;
  }

  h2 {
    font-size: 1rem;
  }

  nav ul {
    display: none;
  }

  .mobile-nav-container {
    display: block;
    text-align: center;
  }

  .product {
    width: 90%;
  }

  #pen {
      margin: 0 auto;
  }

  #glasses {
    display: none;
  }

  #watch {
    display: none;
  }

  .biz-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3rem;
  }
/*how to make the biz-info box longer?*/

  .info p {
    padding-bottom: 0.5rem;
  }

  footer {
    text-align: center;
  }
}
